#title{
    font-size: 40px;
  }
  #main{
    text-align: center;
    background-color: gainsboro;
    border-radius: 10px;
    margin:10px;
    padding:10px;
  }
  #img-div{
      text-align:center;
      background:white;
      margin:10px;
      padding:10px;
  }
  #image{
      width:50%;
      max-width: 50%;
      text-align: center;
      display: block;
      position: relative;
      margin:auto;
  }
  #img-caption{
      margin:10px;
      padding:10px;
      font-size: 13px;
  }
  #tribute-info{
    text-align: center;
    font-weight: bold;
    padding:40px;
  }
  .list{
    margin-left:600px;
    margin-right:600px;
    text-align: left;
  }
  .list li{
    margin-bottom: 15px;
  }
  #italic{
    margin:50px 600px 50px 600px;
    text-align: left;
    font-style: italic;
    font-size: 14px;
  }
  #conclusion{
    font-weight: bold;
  }
  #tribute-link{
    color:blue;
    text-decoration: none;
  }